.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.mainPage {
  display: flex;
  flex-direction: row;
}

.categories {
  position: fixed;
  right: 5px;
  top: 105px;
  min-width: 200px;
}

.cartOpen {
  position: fixed;
  right: 5px;
  top: 105px;
  min-width: 400px;
}

.checkout {
  position: absolute;
  height: calc(100vh - 85px);
  width: 100vw;
  top: 85px;
  left: 0;
}
